In [1]:
import numpy as np
import matplotlib.pyplot as plt
import time
from IPython.display import clear_output
import pandas as pd

In [2]:
# load species.csv
df = pd.read_csv(r'species.csv')
print(df)

       Unnamed: 0                     name   count
0              11                 Bacteria  177137
1             246           Entamoeba coli   44665
2             114                    Fungi   42807
3             158                Mammalian   32036
4             216               Microbiota   29069
...           ...                      ...     ...
91162       67465  Arthroleptis phrynoides       1
91163       67464   Telmatobius vilamensis       1
91164       67463   Telmatobius verrucosus       1
91165       67462   Telmatobius marmoratus       1
91166       91166                  Wolfius       1

[91167 rows x 3 columns]

In [3]:
def random_nid(taxon_list):
        return np.random.choice(taxon_list)

In [4]:
df.head

<bound method NDFrame.head of        Unnamed: 0                     name   count
0              11                 Bacteria  177137
1             246           Entamoeba coli   44665
2             114                    Fungi   42807
3             158                Mammalian   32036
4             216               Microbiota   29069
...           ...                      ...     ...
91162       67465  Arthroleptis phrynoides       1
91163       67464   Telmatobius vilamensis       1
91164       67463   Telmatobius verrucosus       1
91165       67462   Telmatobius marmoratus       1
91166       91166                  Wolfius       1

[91167 rows x 3 columns]>

In [5]:
taxon_rare = df[df["count"] < 10000]
taxon_list = taxon_rare.name.tolist()
#print(taxon_list)

In [10]:
your_pokemon = random_nid(taxon_list)
print(your_pokemon)

red milkweed beetle